update_BugBuilder_github.sh
/src/
./bin/cpan
./bin/cpan-mirrors
bin/cpan-mirrors
bin/cpan
lib
packages
install_logs
man
*~
#*#
*.DS_Store
*.egg-info/
/tests/tmp_tests/
*__pycache__*
*.amb
*.bwt
*.pac
*.sa
*.ann
